
:root{
    --color-1:#0f1016;
    --text-color:#f0f0f0;
    --accent-color:#006aff;
    --back-color:#DBEAFF;
    --btn-color:#007bff;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    height: 30px;
    background-color: var(--back-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    align-items: center;
    text-decoration: none;
    color: var(--color-1);            
}
nav a:hover{
    background-color: var(--accent-color);
}
nav .home-link{
        margin-right: auto;
    }
    nav svg{
        fill: var(--color-1);
    }
    #sidebar-active{
        display: none;
    }
    .open-sidebar-botton, .close-sidebar-botton{
        display: none;
    }
    .signUp{
        color: #000;
        border-radius: 40px;
        background-color: #F5F5F5;
    }
    .signUp:hover{
        color: #fff;
        background-color: blue;
    }
    .signin{
        color: #fff;
        border-radius: 40px;
        background-color: #007bff;
    }
    .signin:hover{
        color: #fff;
        background-color: blue;
    }
    @media (max-width:450px) {
        .links-container{
            flex-direction: column;
            align-items: flex-start;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 10;
            width: 300px;
            background-color: var(--back-color);
            box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
            transition: 0.75s ease-out;
        }
    
        nav a{
            box-sizing: border-box;
            height: auto;
            width: 100%;
            padding: 20px 30px;
            justify-content: flex-start;
        }
        .open-sidebar-botton, .close-sidebar-botton{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        background-color: rgb(234, 221, 204);
       height: 100%;
       width: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 9;
    }
    #signUp{
        margin: 10px;
    }
    .sign:hover{
        background-color: #f0f0f0;
        border-radius: 20px;
    }
    #login{
        margin: 10px;
    }
    .log:hover{
        border-radius: 20px;
    }
    }
.text{
    margin-right:auto;
    margin-top: -200px;
}
    .first-container{
        border: 1px solid;
        height: 400px;
        width: 100%;
        background-color: var(--back-color);
        border: none;
    }
    .text1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .text2{
        font-size: 64px;
        font-weight: bold;
        color: #000;
    }
    .text3{
        font-size: 20px;
        font-weight: 500;
        color: var(--color-1);
    }
    .btn1{
        background-color: var(--btn-color);
        color: var(--text-color);
        border-radius: 15px;
        border: none;
        opacity: 100%;
        height: 44px;
        width: 250px;
        font-size: 20px;
        cursor: pointer;
    }
    .btn1:hover{
        background-color:#0000ff;
        transition: 1s;
    }
    .img-group{
        height: 400px;

    }
    .text2-container{
        margin-top: -300px;
    }
    @media (max-width:450px) {
        .text{
            font-size: 15px;

        }
        .text2{
            font-size: 30px;
            margin-top: 20px;
            line-height: 40px;
        }
        .text3{
            font-size: 9px;
            margin-top: 10px;
        }
        .btn1{
            margin-top: 80px;
        }
        .img-group{
            width: 130%;
            height: 400px;
        }
     }
     .second-container{
        height: 500px;
        width: 100%;
        background-color: #f6efef;
    }
    
    
    .secnd-container{
        height: 400px;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        margin-top: px;
    }
    .text3-container{
        display: flex;
        justify-content: space-between;
        
    }
    .text4{
        font-size: 70px;
        font-weight: bold;
        line-height: 64px;
    }
    .text5{
        width: 50%;
        margin-top: -150px;
    }
    .text6{
        border-radius: 40px;
        background-color: #fffff5;
        border: 1px solid;
        padding: 5px;
        width: 10%;
    }
    .learn-btn{
        align-items: center;
        display: flex;
        background-color: var(--btn-color);
        color: var(--text-color);
        border: none;
        padding: 8px;
        width: 15%;
        margin-top: 20px;
        justify-content: center;
        border-radius: 15px;
        font-size:20px ;
        cursor: pointer;
    }
    .learn-btn:hover{
        background-color: #0000ff;
        transition: 1.5s;
    }
    @media (max-width:450px) {
        .text6{
            width: 30%;
            font-weight: bold;

        }
        .second-container{
            width: 95%;
            height: 760px;
        }
        .secnd-container{
            width: 90%;
        }
        .text3-container{
            flex-direction: column;
        }
        .text4{
            font-size: 50px;
            text-align: center;
        }
        .text5{
            width: 100%;
            margin-top: 40px;
        }
        .learn-btn{
            width: 50%;
        }
    }
.third-container{
    height: 700px;
    width: 100%;
    background-color: #DBEAFF;
}
.pill-main-container{
    height: 206px;
    width: 216px;
    text-align: center;
    background-color: #f9fafc;
    border-radius: 20px;
}
.pill-container{
    height: 56px;
    width: 56px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #dde3ed;
}
.injection-container{
    background-color: #0086FF;
}
.third-inner-container{
    height: 500px;
    width: 80%;
    margin-top: 100px;
    margin: 60px auto;
    background-color: #e8ecf0;
}
.inner-third-div{
    display: flex;
    justify-content: space-around;
}
.second-inner-container{
    display: flex;
    justify-content: space-around;
    margin: 70px auto;
}
.specialty-container{
    height: 120px;
    width: 30%;
    margin: 0px auto;
    background-color: #F9FCFF;
    text-align: center;
}
.text7{
    color: #234A6B;
    font-size: 50px;
    font-weight: bold;
}
.text9{
    margin:20px auto;
    font-size: 25px;
    font-weight: bold;
}
.text10{
    color: #757575;

}
@media (max-width:450px) {
    .third-container{
        margin-top: 40px;
        height: 1000px;
        margin-left: 10px;
    }
    .specialty-container{
        width: 90%;
    }
    .inner-third-div{
        flex-direction: column;
    }
    .second-inner-container{
        display: none;
    }
    .pill-main-container{
        width: 270px;
        margin: 20px auto;
    }
    .third-inner-container{
        height: 760px;
    }
}
.fourth-container{
    height: 460px;
    width: 100%;
    margin-top: -70px;
    background-color: #FFf;
}
.testimonial-inner-div{
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}
.btn2{
    padding: 6px;
    border-radius: 20px;
    background-color: #FBFBFB;

}
.text11{
    color: #020043;
    font-size: 36px;
    font-weight: bold;
}
.testionial-container{
display: flex;
justify-content: space-around;
margin-top: 30px;

}
.fist-testimonial{
    width: 30%;
    font-size: 12px;
    background-color: #FFFFF5;
    border-radius: 20px;
}
.ecllipe-img{
    margin-top: 20px;
    margin: 10px;
}
.text12{
    font-weight: bold;
}
.profile{
    font-weight: normal;
}
.text13{
    font-size: 19px;
    color: #020043;
    font-weight: bold;
    padding: 10px;
}
.text14{
    font-size: 12px;
    color: #4d4c7b;
    margin: 10px;
}
.footer{
    height: 300px;
    width: 100%;
    background-color: #007BFF;
}
@media (max-width:450px){
    .fist-testimonial{
        width: 100%;
        margin-top: 20px;
    }
   .testionial-container{
    flex-direction: column;
    
   }
   .fourth-container{
    height: 900px;
   }
}