html{
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    border: 1px solid;
    width: 30%;
    height: 140px;
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
    background-color: rgb(20, 104, 104);
    color: #fff;
}